.colorpicker-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.chrome-picker {
    margin-right: 25px;
}

.colors-list {
    height: 350px;
    overflow-y: scroll;
}

.color-details {
    width: 225px;
    background-color: white;
    display: grid;
    grid-template-columns: auto auto auto 50px;
    align-items: center;
}

.color-rgb {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.color-rgb-value {
    font-size: 1.4em;
}

.color-rgb-name {
    color: rgb(98, 98, 98);
}

.color-remove {
    font-size: 1.3em;
    color: rgb(98, 98, 98);
    text-align: center;
    cursor: pointer;
    color: red;
}

.color-remove:hover {
    color: rgb(30, 30, 30);
}