

:root {
    --picker-height: 100px;
}

.picker-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
    width: 100%;
    height: var(--picker-height);
    margin: 20px auto 0px auto;
}

.slider-picker {
    width: min(100%, 300px) !important;
}

.chrome-picker {
    display: flex;
    width: min(100%, 300px) !important;
}

.chrome-picker div:first-child {
    padding-bottom: 0px !important;
    height: var(--picker-height);
}

.chrome-picker > div:nth-child(2) {
    display: none !important;
}


.circle-picker span {
    flex: 1 0 15%;
}

.circle-picker span div {
    width: 20px !important;
    height: 20px !important;
}